<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!-- ensures secrets are not added to source control
       Create a local AppSettingsSecrets.config file with the app settings enough folders up to be ouside the git repo -->
  <appSettings file="..\..\..\..\AppSettingsSecrets.config">
  </appSettings>

  <!-- Example content for AppSettingsSecrets.config
  <?xml version="1.0" encoding="utf-8" ?>
  <appSettings>
    <add key="user" value="<your VSO alternate login>" />
    <add key="password" value="<your VSO alternate password>" />
    <add key="url" value="<your VSO account>.visualstudio.com" />
  </appSettings>
  --> 
</configuration>